* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.form-input-vacxin {
    margin-top: 32px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.vacxin-input {
    float: left;
    width: calc(100% / 2);
}

.info-loai-vacxin {
    padding: 8px ;
    margin-top: 16px;
    border-radius: 5px;
    width: 700px;
    font-size: 14px;
}

.action{
    display: flex;
    justify-content: space-evenly;
}

.key-important {
    color: red;
}

.btn-vacxin {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 36px;
}

.btn-vacxin .btn-format {
    float: left;
}

.reset-btn {
    margin-right: 36px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.reset-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.update-btn {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: aqua;
    border-radius: 5px;
}

.update-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

#customer {
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    /* background-color: #04aa6d; */
    color: #000;
}

.edit-btn-loai {
    padding: 8px 16px;
    margin-right: 16px;
}

.delete-btn-loai {
    padding: 8px 16px;
}