* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.form-input {
    margin-top: 32px;
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;
}

.infomation-input {
    float: left;
    width: calc(100% / 3);
}

.info-vacxin {
    padding: 8px ;
    margin-top: 16px;
    border-radius: 5px;
    width: 470px;
    font-size: 14px;

}

.important {
    color: red;
}

.note-vacxin {
    height: 100px;
    width: 470px;
    border-radius: 5px;
    margin-top: 16px;
}

.btn-vacxin {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.btn-vacxin .btn-format {
    float: left;
}

.reset-btn {
    margin-right: 36px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.reset-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.update-btn {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: aqua;
    border-radius: 5px;
}

.update-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

#customer {
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 0.5px solid #000;
    padding: 8px;
    text-align: center;
    /* background-color: #04aa6d; */
    color: #000;
}

.dang-ky-btn {
    padding: 8px 16px;
    margin-right: 16px;
    background-color: cyan;
    border-radius: 4px;
}

.dang-ky-btn:hover {
    background-color: #fff;
    color: #000;
    border-radius: 4px;
}

.delete-btn {
    padding: 8px 16px;
}